{% extends "base_template_1.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container card mt-5 p-5">
    <form id="login-form" method="POST" action="{% url 'users-login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}


{% block scripts %}
<script>
    document.getElementById('login-form').addEventListener('submit', function (e) {
        console.log(`Sending request to ${this.action}`)
        console.log(`ID one looks like this: {% url 'blogs-blog' id=1 %}`)
        e.preventDefault()
        const formData = new FormData(e.target)
        const data = {}
        formData.forEach((value, key) => {
            data[key] = value
        })
        fetch("{% url 'users-login' %}", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                // 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error)
                }
                else {
                    console.log(data)
                    access_token = data.access
                    refresh_token = data.refresh
                    localStorage.setItem('access_token', `Bearer  ${access_token}`);
                    localStorage.setItem('refresh_token', refresh_token);
                    console.log(access_token)
                    console.log(refresh_token)
                    window.location.href = "{% url 'web-blogs' %}"
                }
            })
    }
    )
</script>
{% endblock %}